$hacker-green: rgb(30, 197, 3)
$black: rgb(0, 0, 0)
$red: rgb(255, 0, 0)

html
	background-color: $black
	margin: 0
	text-align: center
	color: $hacker-green
	font-family: Courier New, Courier, monospace
	
a
	color: $hacker-green

.main-container
	display: flex
	justify-content: space-around

.store-item
	margin: 30px
	padding: 10px
	border: solid

.cookie-button
	background: url('http://linuxcommand.org/images/Screenshot-Terminal.png')
	width: 200px
	height: 200px

.unbulleted-list
	list-style-type: none

.hidden
	visibility: hidden

.links-menu
	display: flex
	justify-content: space-between
	margin: 10px

.login-view
	display: flex
	flex-direction: column
	align-items: center
	margin: 30px

.login-view-item
	margin: 10px
	width: 200px
	text-align: center
.error-view
	color: $red
