$cookie-gray: rgb(75, 75, 75)

html
  background-color: $cookie-gray
  margin: 0
  text-align: center
  color: white

.main-container
	display: flex
	justify-content: space-around

.store-item
	margin: 30px 30px

.cookie-button
	background: url(http://linuxcommand.org/images/Screenshot-Terminal.png)
	width: 200px
	height: 200px

.unbulleted-list
	list-style-type: none


